PORT=3000
NODE_ENV=development
FRONTEND_URL=
MONGO_URL=
REDIS_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
JWT_COOKIE_EXPIRES_IN=7
SESSION_SECRET=
GEMINI_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GMAIL_User=
GMAIL_Password=
Razorpay_key=
Razorpay_secret=
CASHFREE_CLIENT_ID=
CASHFREE_CLIENT_SECRET=
CASHFREE_ENV=
Cloudinary_Cloud_Name=
Cloudinary_API_Key=
Cloudinary_API_Secret=
website_schema=http
